# First Program

In [1]:
print("Hello I am Pratiksha Bhandare")

Hello I am Pratiksha Bhandare

# variables

In [2]:
x="I am executing my First Python Program" #A  variable hold a string
print(x)

y=10  #A  variable hold a number
print(y)

I am executing my First Python Program
10

# Multi-line Statements

In [3]:
name='Pratiksha '
surname='Bhandare'
age=24
Address='vashi'

print('Hello  my name is ',name,surname,'I am ',age,'years old .')

Hello  my name is  Pratiksha  Bhandare I am  24 years old .

# A variable can hold different types of values.

In [4]:
# type() function is used to define the type of  variable .like (int,float,string,complex,list,etc.)

first_value=100
print('the type of first_value is :',type(first_value))

the type of first_value is : <class 'int'>
the type of second_value is : <class 'str'>
the type of third_value is : <class 'float'>
the type of fourth_value is : <class 'complex'>

In [17]:
second_value="Hi Python" 
print('the type of second_value is :',type(second_value))

the type of second_value is : <class 'str'>

In [18]:
third_value = 10.5
print('the type of third_value is :',type(third_value))

the type of third_value is : <class 'float'>

In [19]:
fourth_value=46+14j
print('the type of fourth_value is :',type(fourth_value))

the type of fourth_value is : <class 'complex'>

In [5]:
lst=[1,2,3]
print('lst is type of :',type(lst))

lst is type of : <class 'list'>
tupl is type of <class 'tuple'>
sets is type of : <class 'set'>
dic is type of : <class 'dict'>

In [20]:
tupl=('a','b','c')
print('tupl is type of',type(tupl))

tupl is type of <class 'tuple'>

In [21]:
sets={100,200,300,'a','b'}
print('sets is type of :',type(sets))

sets is type of : <class 'set'>

In [22]:
dic={'car_name':'skoda','type':'rapid','speed':200,'colour':'red'}
print('dic is type of :',type(dic))

dic is type of : <class 'dict'>

# operators

# 1 . Arithmetic Operators

In [6]:
a=10
b=20
c=30

print("Addition       :",a+b+c)
print("subtraction    :",a-b)
print("mult           :",a*b)
print("division       :",b/a)
print("floor division :",a//b)
print("exponent form  :",c**a)

Addition       : 60
subtraction    : -10
mult           : 200
division       : 2.0
floor division : 0
exponent form  : 590490000000000

# arithmatic operation using format() function.

........................default format function.....................

In [ ]:
num1=int(input('enter the value of num1 :'))
num2=int(input('enter the value of num2 :'))
sums=num1+num2
print("Addition of {} and {} is :".format(num1,num2), sums)   # default order format function

.......................positional format function.....................

In [23]:

p=int(input('enter the value of p :'))
q=int(input('enter the value of q :'))
r=p-q
print("Substraction of {0} and {1} is :".format(p,q), r)  # position order format function

enter the value of p :2
enter the value of q :4
Substraction of 2 and 4 is : -2

In [24]:
p=int(input('enter the value of p :'))
q=int(input('enter the value of q :'))
z=p*q
print("Multiplying of {1} and {0} is :".format(p,q), z)

enter the value of p :5
enter the value of q :6
Multiplying of 6 and 5 is : 30

....................keyword format function....................

In [25]:

p=int(input('enter the value of p :'))
q=int(input('enter the value of q :'))
z=p/q
print("Dividing {x} and {y} is :".format(x=p,y=q),p/q)  # keyword order format function

enter the value of p :45
enter the value of q :5
Dividing 45 and 5 is : 9.0

In [28]:
p=int(input('enter the value of p :'))
q=int(input('enter the value of q :'))
z=p//q
print("Floor Division by dividing {b} and {a} is :".format(a=p,b=q),p//q)

enter the value of p :46
enter the value of q :14
Floor Division by dividing 14 and 46 is : 3

In [30]:
p=int(input('enter the value of p :'))
print("Power of {} is :".format(p), p**2)

enter the value of p :4
Power of 4 is : 16

# relational operators

In [31]:
# you can take value from user also
a=10
b=15

print('a is greater than b   :',a>b)
print('a is less than b      :',a<b)
print('a is equal to b       :',a==b)
print('a is not equal to b   :',a!=b)
print('a is greater than or equal to b :',a>=b)

a is greater than b   : False
a is less than b      : True
a is equal to b       : False
a is not equal to b   : True
a is greater than or equal to b : False

# logical operator

In [35]:
# logical operation perform on True & False condition

x=True
y=False

print(x and y)

print(x or y)

# not keyword apply only single value
print(not x)
print(not y)

False
True

In [34]:
a=10
b=5
c=2

print(a>b and b>c)
print(a>b and c>b)

print(a>b or c>b)
print(not(a>b or c>b))

True
False
True
False